@model Hobby

<div class="container">
  <div class="row">
      <h1>Create an Hobby</h1>
  </div>
</div>
<hr>
<div id="outer">
    <div class="b" id="inner">
    <table class="table table-bordered table-striped">
        <tbody>
            <div class="form-group">
            <form asp-action="NewHobby" asp-controller="Home" method="post">
                <br><label asp-for="@Model.HobbyTitle"></label><br>
                <span class="text-danger" asp-validation-for="@Model.HobbyTitle"></span>
                <input asp-for="@Model.HobbyTitle">
                <br><label asp-for="@Model.Description"></label><br>
                <span class="text-danger" asp-validation-for="@Model.Description"></span>
                <textarea asp-for="@Model.Description"></textarea>
                <input value="Create" type="submit">    
            </form>      
            </div></td>
        </tbody>
    </table>        
    </div>
    <div id="clearit"></div>
